h1 {
  color: rgb(146, 7, 164);
  text-shadow: -1px 0 rgb(51, 2, 43), 0 1px rgb(51, 2, 43), 1px 0 rgb(51, 2, 43),
    0 -1px rgb(51, 2, 43);
}
h2 {
  color: rgb(41, 41, 111);
}
h3 {
  color: darkgreen;
}
h4 {
  color: rgb(255, 102, 0);
  font-weight: bold;
  /* transform: perspective(30rem);
  backface-visibility: hidden; */
}
h4:hover {
  transition: all 2s ease-in-out;
  transform: rotateX(360deg);
  /* transform: perspective(30rem) rotateY(180deg); */
}
.flip-card-inner p {
  margin: 0;
  text-shadow: none;
}
.flip-card-inner p:hover {
  text-shadow: none;
}
p {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(146, 7, 164);
  text-shadow: -1px 0 rgb(51, 2, 43), 0 1px rgb(51, 2, 43), 1px 0 rgb(51, 2, 43),
    0 -1px rgb(51, 2, 43);
  margin: 0;
  margin-left: 9rem;
  margin-bottom: 0.5rem;
  transition: color 0.5s ease-in-out;
}
p:hover {
  text-shadow: none;
  color: blueviolet;
  text-shadow: -1px 0 rgb(51, 2, 43), 0 1px rgb(51, 2, 43), 1px 0 rgb(51, 2, 43),
    0 -1px rgb(51, 2, 43);
}
.kalachakra {
  display: flex;
}
.orange {
  /* transition: all 1s;
  transition-duration: 2s;
  transition-property: all;
  filter: none;
  transition-timing-function: linear; */
  width: 650px;
  transition: all 2s ease-in-out;
  margin-right: 1rem;
}
.violet {
  transition: all 2s ease-in-out;
}
.orange:hover {
  /* filter: sepia(1); */
  filter: hue-rotate(360deg) drop-shadow(16px 16px 20px rgb(143, 143, 155));
}
.violet:hover {
  filter: hue-rotate(360deg) drop-shadow(16px 16px 20px rgb(143, 143, 155));
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 320px;
  height: 449px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(147, 146, 213);

  color: white;
  transform: rotateY(180deg);
}
.flip-card-back-text {
  /* top: 50px; */
  transform: translateY(15%);
  background-color: rgb(161, 184, 208);
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 0rem;
}

@media (max-width: 900px) {
  .kalachakra {
    display: block;
  }
  p {
    font-size: 2rem;
    margin-left: 2rem;
  }
  .orange img {
    width: 20rem;
  }
}
